

.portfolio-item {
  flex: 0 0 auto;
  width: 100%;
  max-width: 375px; /* Consistent sizing */
  text-align: center;
  transition: transform 0.3s;
  text-decoration: none;
  background: none;
}

.portfolio-item:hover {
  transform: scale(1.05);
}


.portfolio-image {
  width: 100% !important;
  height: 250px;
  object-fit: cover;
  transition: filter 0.3s;
  border-radius: 0 !important; /* Uniform square theme */
}

.portfolio-image:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.portfolio-item h3,
.portfolio-title {
  text-decoration: none;
  color: var(--dark4);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.portfolio-item h6,
.portfolio-subtitle {
  color: var(--dark2);
  font-size: 0.8rem;
}

